<!--index.ejs-->

<style>
    img {
        height: 150px;
        width: 150px;
    }
</style>

<div class="row">
    <% apartments.forEach( function(model) { %>
    <div class="card col-lg-6">

        <div class="card-body">
                <h5 class="card-title"><a href="" class="text-decoration-none" data-toggle="modal"
                        data-target="#id<%=model.id%>"><%= model.title %></a></h5>       

            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded" src="<%= model.url%>" />
                </div>

                <div class="col-lg-8">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="font-weight-bold">Estate:</span>
                            <%=model.estate%>
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Gross
                                Area:</span>
                            <%=model.area%> sq feet
                        </li>
                        <li class="list-group-item"><span class="font-weight-bold">Rent:</span>
                            $<%=model.rent%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="id<%=model.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="card">

                        <div class="card-body">
                        
                                <h4 class="modal-title" id="exampleModalLongTitle"><%= model.title%></h4>

                            <div class="row">

                                <div class="col-lg-7">
                                    <img class="rounded" src="<%= model.url%>" style="height:350px; width:410px;" />
                                </div>

                                <div class="col-lg-5">

                                    <ul class="list-group">
                                        <li class="list-group-item"><span class="font-weight-bold">Estate:</span>
                                            <%=model.estate%>
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Gross
                                                Area:</span>
                                            <%=model.area%> sq feet
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Rent:</span>
                                            $<%=model.rent%>
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Bedrooms:</span>
                                            <%=model.bedrooms%>
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Expected
                                                Tenants:</span>
                                            <%=model.tenants%>
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Created:</span>
                                            <%=new Date(model.createdAt).toLocaleDateString()%>
                                        </li>
                                        <li class="list-group-item"><span class="font-weight-bold">Updated:</span>
                                            <%=new Date(model.updatedAt).toLocaleDateString()%>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <% }); %>
</div>